{%  extends 'main/base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <img src="{{ movie.poster.url }}" alt="poster">
    <h1>{{ movie.title }}</h1>
    <p>Year: {{ movie.year_of_production }}</p>
    <p>Duration: {{ movie.duration }}</p>
    <p>Country: {{ movie.country }}</p>
    <p>IMDb score: {{ movie.rating }}</p>
    <p>Budget: {{ movie.budget }}</p>
    <p>Genre: {% for ganr in  movie.genre.all %}{{ ganr }}, {% endfor %}</p>
    <p>{{ movie.description }}</p>
{% endblock %}
