{%  extends 'main/base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <p></p>
    <img src="{{ movie.poster.url }}" alt="poster" height="600">
    <p></p>
    <h1>{{ movie.title }}</h1>
    <p>Year: {{ movie.year_of_production }}</p>
    <p>Duration: {{ movie.duration }}</p>
    <p>Country: {{ movie.country }}</p>
    <p>IMDb score: {{ movie.rating }}</p>
    <p>Budget: {{ movie.budget }}</p>
    <p>Genre: {% for ganr in  movie.genre.all %}{{ ganr }}, {% endfor %}</p>
    <p>{{ movie.description }}</p>
    <p></p>
    <h2>Available Movie Sessions</h2>
    {% if  movie.moviesession_set.count == 0%}
        <p>No sessions are available</p>
    {% endif %}
    {% for session in movie.moviesession_set.all %}
        {% if session.is_valid %}
            <hr/>
            <p>{{ session.date }}</p>
            <p>Lounge {{ session.lounge }}</p>
            <p>Time the movie starts: {{ session.time_begin }}</p>
            <p>Price {{ session.price_per_ticket }}</p>
            <form action="{% url 'catalog:reserve_ticket' %}" method="post">
                {% csrf_token %}
                <input id="id_session_id" name="session_id" type="number" value="{{ session.id }}" hidden="hidden"/>
                <button type="submit" class="btn btn-primary btn-lg">Buy ticket</button>
            </form>
        {% endif %}
    {% endfor %}
    <p></p>
{% endblock %}
